//************************** COLORS **************************//

$primary: #0033ff;
$secondary: #000000;
$third-color: #9a9a9a;
$warn: #eb5858;
$bgColor: #eff3f6;

/*other colors*/
$white: #fff;
$black: #000000;
$validation: #eb3434;

// start range slider var
$slider-line-height: 20px !default;
$slider-border-radius: 4px !default;

//************************** FONTS **************************//
